@font-face {
  font-family: Josefin;
  src: url(../Fonts/josefin-sans-v14-latin-300.woff2) format("woff2"), url(../Fonts/josefin-sans-v14-latin-300.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Josefin;
  src: url(../Fonts/josefin-sans-v14-latin-700.woff2) format("woff2"), url(../Fonts/josefin-sans-v14-latin-700.woff) format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: Playfair;
  src: url(../Fonts/playfair-display-v20-latin-900.woff2) format("woff2"), url(../Fonts/playfair-display-v20-latin-900.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 25px;
  font-family: "Josefin", "Arial", sans-serif;
  color: #050505;
  font-style: normal;
  background-color: #eaeaea;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-transform: uppercase;
  text-decoration: none;
  color: #050505;
}
a:hover,
a:focus {
  color: #686767;
}
a:active {
  color: #000000;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
img {
  max-width: 100%;
  height: auto;
}
.d-nole {
  padding: 0;
  margin: 0;
}
.center {
  margin: 0 auto;
}
.v-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.navigation__wrap {
  width: 320px;
  margin: 0 auto;
  background-color: #ffffff;
}
.navigation {
  width: 270px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.navigation__logo {
  display: block;
  margin-right: auto;
  width: 87px;
  height: 36px;
}
.navigation__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  order: 3;
}
.navigation__list a {
  text-align: center;
  display: block;
  width: 260px;
  height: 25px;
  margin-bottom: 5px;
  font-size: 14px;
}
.navigation__list a:focus,
.navigation__list a:hover {
  border-bottom: 1px solid #686767;
}
.navigation__search {
  font-size: 12px;
  text-transform: uppercase;
  width: 118px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (max-width: 1119px) {
  .navigation__btn {
    display: block;
    position: relative;
    order: 1;
    background: none;
    border: none;
    width: 22px;
    height: 15px;
  }
  .navigation__btn::after {
    content: "";
    position: absolute;
    top: -2px;
    left: 0;
    display: block;
    width: 22px;
    height: 2px;
    background-color: #050505;
    box-shadow: 0 4px 0 0, 0 8px 0 0, 0 12px 0 0;
  }
}
@media (min-width: 1120px) {
  .navigation__wrap {
    width: 1120px;
    min-height: 125px;
    padding-top: 45px;
    box-shadow: 2px 2px 15px 2px #686767, -2px -2px 15px 2px #686767;
  }
  .navigation {
    width: 935px;
  }
  .navigation__logo {
    width: 88px;
    height: 40px;
  }
  .navigation__btn {
    display: none;
  }
  .navigation__list {
    flex-direction: row;
    width: 595px;
    order: 0;
  }
  .navigation__item a {
    padding: 0;
    margin: 0;
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 16px;
  }
  .navigation__search {
    margin: 0;
    margin-top: -9px;
    line-height: 18px;
    padding-top: 4px;
    border: 1px solid #686767;
  }
}
